body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(../images/background.png);
  background-size: cover;
  font-size: 16px;
  line-height: 1.6;
}

header, footer {
  background-color: #4e78a7;
  color: white;
  text-align: center;
  padding: 10px 0; 
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: auto;
  margin: 0 auto;
  padding: 20px;
}

.section {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: calc(50% - 20px);
  max-width: 500px;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.input-field {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 12px;
  width: calc(100% - 24px);
  transition: border-color 0.3s ease;
}

.input-field:focus {
  border-color: #4e78a7;
}

.btn {
  background-color: #4e78a7;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 12px 20px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.btn:hover {
  background-color: #325274;/
}

.error-message, #comment-error-message {
  color: red;
  margin-top: 10px;
}

#chart {
  display: block;
  margin: 0 auto;
  width: 100%;
}
