body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(../images/background.png);
  background-size: 50%;
  font-size: 16px;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #4e78a7;
  color: white;
  padding: 10px;
  text-align: center;
}

header h1 {
  margin: 0;
}

footer {
  background-color: #4e78a7;
  color: white;
  text-align: center;
  margin-top: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.section {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: calc(100% - 40px);
  max-width: 800px;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#chart {
  width: 100%;
  height: auto;
}

.input-field {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 12px;
  width: calc(100% - 24px);
  transition: border-color 0.3s ease;
}

.input-field:focus {
  border-color: #4e78a7;
}

.btn {
  background-color: #4e78a7;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 12px 20px;
  transition: background-color 0.3s ease;
  width: calc(100% - 24px);
}

.btn:hover {
  background-color: #325274;
}

.error-message {
  color: red;
  margin-top: 10px;
}
